HTML {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
DIV {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
H1 {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
H2 {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
H3 {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
H4 {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
UL {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
OL {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
LI {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
DL {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
DT {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
DD {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
TEXTAREA {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
TEXTAREA {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Helvetica, Geneva, Arial, sans-serif
}
#topnav_container {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 0px; BORDER-LEFT: #ffffff 1px solid; WIDTH: 147px; BORDER-BOTTOM: #ffffff 0px; BACKGROUND-COLOR: #404343
}
#topnavoff {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; WIDTH: 147px; BORDER-TOP-COLOR: #ffffff; LETTER-SPACING: 1px; BORDER-RIGHT-COLOR: #ffffff
}
#topnavoff A:link {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; PADDING-BOTTOM: 5px; COLOR: #ffffff; BORDER-TOP-COLOR: #ffffff; PADDING-TOP: 5px; LETTER-SPACING: 1px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center; BORDER-RIGHT-COLOR: #ffffff; TEXT-TRANSFORM: uppercase; TEXT-DECORATION: none
}
#topnavoff A:visited {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; PADDING-BOTTOM: 5px; COLOR: #ffffff; BORDER-TOP-COLOR: #ffffff; PADDING-TOP: 5px; LETTER-SPACING: 1px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center; BORDER-RIGHT-COLOR: #ffffff; TEXT-TRANSFORM: uppercase; TEXT-DECORATION: none
}
#topnavoff A:active {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; PADDING-BOTTOM: 5px; COLOR: #ffffff; BORDER-TOP-COLOR: #ffffff; PADDING-TOP: 5px; LETTER-SPACING: 1px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center; BORDER-RIGHT-COLOR: #ffffff; TEXT-TRANSFORM: uppercase; TEXT-DECORATION: none
}
#topnavoff A:hover {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; PADDING-BOTTOM: 5px; COLOR: #ffffff; BORDER-TOP-COLOR: #ffffff; PADDING-TOP: 5px; LETTER-SPACING: 1px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center; BORDER-RIGHT-COLOR: #ffffff; TEXT-TRANSFORM: uppercase; TEXT-DECORATION: underline
}
#topnavon {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; WIDTH: 147px; BORDER-TOP-COLOR: #ffffff; LETTER-SPACING: 1px; BORDER-RIGHT-COLOR: #ffffff
}

#topnavon A:link {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #404343; PADDING-TOP: 5px; BACKGROUND-COLOR: #f1f1f1; TEXT-ALIGN: center; TEXT-TRANSFORM: uppercase; TEXT-DECORATION: none
}
#topnavon A:visited {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #404343; PADDING-TOP: 5px; BACKGROUND-COLOR: #f1f1f1; TEXT-ALIGN: center; TEXT-TRANSFORM: uppercase; TEXT-DECORATION: none
}
#topnavon A:active {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #404343; PADDING-TOP: 5px; BACKGROUND-COLOR: #f1f1f1; TEXT-ALIGN: center; TEXT-TRANSFORM: uppercase; TEXT-DECORATION: none
}
#topnavon A:hover {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #404343; PADDING-TOP: 5px; BACKGROUND-COLOR: #f1f1f1; TEXT-ALIGN: center; TEXT-TRANSFORM: uppercase; TEXT-DECORATION: underline
}
#sidenav_container {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 0px; BORDER-LEFT: #ffffff 1px solid; WIDTH: 130px; BORDER-BOTTOM: #ffffff 0px; BACKGROUND-COLOR: #404343
}
#sidenavoff {
	FONT-SIZE: 11px; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; WIDTH: 130px; BORDER-TOP-COLOR: #ffffff; LETTER-SPACING: 1px; BORDER-RIGHT-COLOR: #ffffff
}
#sidenavoff A:link {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#sidenavoff A:visited {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#sidenavoff A:active {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#sidenavoff A:hover {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
#sidenavon {
	FONT-SIZE: 11px; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; WIDTH: 130px; BORDER-TOP-COLOR: #ffffff; LETTER-SPACING: 1px; BORDER-RIGHT-COLOR: #ffffff
}
#sidenavon A:link {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #404343; PADDING-TOP: 5px; BACKGROUND-COLOR: #f1f1f1; TEXT-DECORATION: none
}
#sidenavon A:visited {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #404343; PADDING-TOP: 5px; BACKGROUND-COLOR: #f1f1f1; TEXT-DECORATION: none
}
#sidenavon A:active {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #404343; PADDING-TOP: 5px; BACKGROUND-COLOR: #f1f1f1; TEXT-DECORATION: none
}
#sidenavon A:hover {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #404343; PADDING-TOP: 5px; BACKGROUND-COLOR: #f1f1f1; TEXT-DECORATION: underline
}
#sidehelp_container {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 0px; PADDING-LEFT: 2px; BORDER-LEFT: #ffffff 1px solid; WIDTH: 137px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #404343
}
#help_text {
	FONT-SIZE: 11px; COLOR: #ffffff; BACKGROUND-COLOR: #404343
}
#index_text {
	FONT-SIZE: 12px; COLOR: #DB6F22; BACKGROUND-COLOR: #404343; PADDING-LEFT: 5px; TEXT-DECORATION: underline
}
#index_text A:hover {
	FONT-SIZE: 12px; COLOR: #DB6F22; BACKGROUND-COLOR: #404343; PADDING-LEFT: 0px; TEXT-DECORATION: underline
}
#index_text A:link {
	FONT-SIZE: 12px; COLOR: #DB6F22; BACKGROUND-COLOR: #404343; PADDING-LEFT: 0px; TEXT-DECORATION: underline
}
#index_text A:visited {
	FONT-SIZE: 12px; COLOR: #DB6F22; BACKGROUND-COLOR: #404343; PADDING-LEFT: 0px; TEXT-DECORATION: underline
}
#index_text A:active {
	FONT-SIZE: 12px; COLOR: #DB6F22; BACKGROUND-COLOR: #404343; PADDING-LEFT: 0px; TEXT-DECORATION: underline
}
#maincontent_container {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
#maincontent {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff
}
#box_header {
	BORDER-RIGHT: #FF6F00 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #FF6F00 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #FF6F00 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #FF6F00 1px solid; BACKGROUND-COLOR: #dfdfdf
}
.box {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #333333 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 5px 0px 0px; BORDER-LEFT: #333333 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-COLOR: #ffffff
}
#box_title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px;  TEXT-TRANSFORM: uppercase; COLOR: #000000; PADDING-TOP: 5px; LETTER-SPACING: 1px; BACKGROUND-COLOR: #FF6F00;
}
H1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; MARGIN: 0px -10px 5px; TEXT-TRANSFORM: uppercase; COLOR: #000000; PADDING-TOP: 5px; LETTER-SPACING: 1px; BACKGROUND-COLOR: #FF6F00;
}
H2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; MARGIN: 0px -10px 5px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; PADDING-TOP: 5px; LETTER-SPACING: 1px; BACKGROUND-COLOR: #333333
}
H3 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 4px; BORDER-LEFT: 0px; COLOR: #13376b; PADDING-TOP: 18px; BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: transparent
}
H4 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; MARGIN: 0px -10px 5px; COLOR: #ffffff; PADDING-TOP: 5px; LETTER-SPACING: 1px; BACKGROUND-COLOR: #333333
}
.red {
	COLOR: #cc0000; BACKGROUND-COLOR: transparent
}
#footer_container {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 0px; BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #ffffff; HEIGHT: 40px; BACKGROUND-COLOR: #404343
}
#header_container {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 0px; BORDER-LEFT: #ffffff 1px solid; COLOR: white; BORDER-BOTTOM: #ffffff; HEIGHT: 20px; BACKGROUND-COLOR: #404343
}
#header_container A:link {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
#header_container A:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
#header_container A:active {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
#header_container A:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.button {
	WIDTH: 40px; HEIGHT: 24px
}
#tbl {
	BORDER-RIGHT: #ffffff 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 2px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffffff 2px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 2px solid; BACKGROUND-COLOR: #dfdfdf;
}
.text{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	border: 1px solid #C0C0C0;
	margin: 1px;
	background: #FFFFFF;
	padding: 2px;
}
